.contact__Hero {
  width: 100%;
  text-align: center;
  background-image: url(/images/darkbg-1.jpg);
  background-position: center;
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__Hero {
  width: 100%;
}
.contact__detailss {
  padding: 100px 0px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}
.contact__details__details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}
.details {
  font-family: var(--open);
  font-size: 17px;
  font-weight: 400;
  color: #41516a;
}
.details strong {
  font-family: var(--fira);
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
}
.socialIcons__contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  gap: 20px;
  font-size: 26px;
  color: var(--skyBlue);
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}
textarea {
  background-color: #f8f8f8;
  border: none;
  outline: none;
  padding: 20px;
  font-family: var(--open);
  color: #000;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 96%;
  height: 35px;
  border-radius: 2px;
  padding-left: 30px;
  background-color: #f8f8f8;
  outline: none;
  border: none;
  color: #000;
  font-family: var(--open);
  letter-spacing: 0.5px;
}
.primary--button {
  padding: 10px 25px;
  background-color: var(--skyBlue);
  color: white;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-family: var(--open);
  width: max-content;
}

@media only screen and (max-width: 1144px) {

.contact__form {
  width: 100%;
}
.contact__detailss{
  flex-direction: column-reverse;
  gap: 80px;
}
.contact__details__details {
  width: 100%;
}
}